{% extends 'main_template.html' %}



{% block javascript %}
<script>
$(document).ready(function() {
    $('select').material_select();
  });

</script>

{% endblock %}


{% block content %}



<br>
    <div class="row">
        <div class="col s1"></div>
        <div class="col s5">
            <p>Hi, {{user.username}}</p>

        <div class="col s5">

            <div class="card teal lighten-1">
                <div class="card-content white-text">
                    <span class="card-title">Svinepels</span>

                    <form action="" method="post">

                        {% csrf_token %}


  <button class="btn waves-effect waves-light" type="submit" >Submit
    <i class="material-icons right">Lag Svinepels addresse</i>
  </button>
                </form>
                  </div>
                    <p></p>
                </div>

            </div>

        </div>
        <div class="col s1"></div>
    </div>
<br>

{% endblock %}