{% load staticfiles %}

  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        {% block header%}

                <nav>


                 <div class="nav-wrapper teal lighten-1" style="overflow:hidden">
                          <div class="row">
                              <div class="col s2">
                                 <ul class="left ">
                                     <li> <a href="{% url 'index' %} " class="responsive" style="margin:10px"><img class="responsive-img" width="55"  src="{% static 'pig_logo.png' %}"/></a></li>
                                     <li><span style="font-size:20px;">Svinepels</span></li>
                                 </ul>
                              </div>
                              <div class="col s1">

                              </div>

                          <div class="col s10">
                             <ul id="nav-mobile" class="right hide-on-med-and-down">
                             {% if user.is_authenticated %}
                             <li><a href="{% url 'logout' %} ">Logout</a></li>
                             {% else %}
                             <li><a href="{% url 'login' %} ">Login</a></li>
                             {% endif %}
                             <li><a href="#">Svinepels info</a></li>

                             </ul>
                   </div></div>
            </nav>



        {% endblock %}


        {% block content %}

        {% endblock %}


        {% block footer %}

        <footer class="page-footer teal lighten-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Kontakt oss</h5>
                <p class="grey-text text-lighten-4">Gaddeveien 18B</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Lenker</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Github</a></li>

                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Sondre Halvorsen

            </div>
          </div>
        </footer>
        {% endblock %}
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>
    </body>
  </html>
